@import '../styles/index.less';
.sm-input-wrapper{
    display: inline-block;
    width: 100%;
    position: relative;
    min-height: 30px;
    .iconfont{
        position: absolute;
        top: 50%;
        right: 6px;
        transform: translateY(-50%);
        cursor: pointer;
        color: #bfbfbf;
        z-index: 99;
    }
    .iconfont:hover{
        color: #707070;
    }
}
.sm-input-wrapper:hover{
    .sm-input{
        border-color: @primary;
    }
    .sm-input-danger{
        border-color: @danger;
    }
    .sm-input-warning{
        border-color: @warning;
    }
}

.sm-input-omit{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


input::-webkit-input-placeholder{
    color:#dcdee2;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#dcdee2;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#dcdee2;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    color:#dcdee2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}