
.sm-table{
    width: 100%;
    border: 1px solid #e8eaec;
    color: #515a6e;
    border-collapse: collapse;
    thead{
        td{
            line-height: 36px;
            font-size: 14px;
            background: #f8f8f9;
            font-weight: bold;
        }
        .icon-gouxuan-{
            top: -10px;
        }
    }
    td{
        border: 1px solid #e8eaec;
        text-align: center;
    }
    tbody{
        td{
            padding: 8px 0;
            cursor: pointer;
        }
        tr:hover{
            background-color: #ebf7ff;
        }
    }
}