
@import '../styles/index.less';

.sm-message-wapper{
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
}
.sm-message{
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    position: relative;
    display: inline-block;
    .iconfont{
        margin-right: 7px;
        position: relative;
        top: 1px;
    }
    .icon-chenggong{
        color: #42b983;
    }
    .icon-shibai{
        color: @danger;
    }
    .icon-jinggao{
        color: @warning;
    }
    .icon-info1{
        color: @primary;
    }
}

@keyframes aniDown {
    0% {
        transform-origin: 0 0;
        transform: translateY(-100%);
        opacity: 0;
        top: 0;
    }
    100% {
        transform-origin: 0 0;
        transform: translateY(0%);
        opacity: 1;
        top: 30px;
    }
}

.aniDown{
    animation: aniDown 0.7s forwards;
}

@keyframes aniToptOut{
    0% {
        transform-origin: 0 0;
        transform: translateY(0%);
        opacity: 1;
        top: 30px;
    }
    100% {
        transform-origin: 0 0;
        transform: translateY(0%);
        opacity: 0;
        top: 0;
    }
}
.aniToptOut{
    animation: aniToptOut 0.7s forwards;
}